@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'ShuiYunTi';
  src: url('/fonts/水云体.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '思源黑体';
  src: url('/fonts/SourceHanSansCN-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1.6;
  font-family: 'ShuiYunTi', sans-serif;
}

/* src/app/styles/globals.css */
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  } 
}