@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'ShuiYunTi';
  src: url('/fonts/水云体.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '思源黑体';
  src: url('/fonts/SourceHanSansCN-Normal.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  line-height: 1.6;
  font-family: 'ShuiYunTi', sans-serif;
}

/* src/app/styles/globals.css */
.fade-in {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
.h1-text{
  font-size:1.875rem;
  line-height: 4.5rem;
  font-weight: 600;
  @media (max-width: 768px) {
    /*font-size: 1.25rem;*/
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
.h1-text-en{
  font-size:2.5rem;
  line-height: 4.5rem;
  font-weight: 600;
  @media (max-width: 768px) {
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
}
.h2-text{
  font-size:1rem;
  line-height: 2.5rem;
  @media (max-width: 768px) {
    /*font-size: 0.875rem;*/
    font-size: 0.8rem;
    line-height: 1.5rem;
  }
}
.h2-text-en{
  font-size:1.35rem;
  line-height: 1.5rem;
  /* font-weight: 500; */
  @media (max-width: 768px) {
    font-size: 0.8rem;
    line-height: 1.15rem;
  }
}
.h3-text{
  font-size:0.875rem;
  line-height: 1.5rem;
  @media (max-width: 768px) {
    font-size: 0.75rem;
    line-height: 1.25rem;
  }
}
.h3-text-en{
  font-size:1rem;
  line-height: 1.15rem;
  @media (max-width: 768px) {
    font-size: 0.75rem;
    line-height: 1.15rem;
  }
}
.pt-page{
  padding-top: 200px;
  @media (max-width: 768px) {
    padding-top: 150px;
  }
}
.en-width{
  width: 45vw;
  @media (max-width: 768px) {
    width: 100%;
  }
}

.Toastify__toast-container--top-right {
  top: 50px !important; /* 调整距离顶部的偏移量 */
}

 
.en-text{
  font-family: 'Times New Roman';
}
@keyframes fadeIn {
  to {
    opacity: 1;
  } 
}
