.part4 {
  width: 100%;
}

.image {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.content {
  width: 100%;
  padding: 130px 150px 0px;
  background-color: #868275;
}

.textContainer {
  width: 100%;
  padding-bottom: 130px;
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: 400;
  line-height: 74.34px;
  color: #ffffff;
  margin-bottom: 60px;
}

.description {
  font-size: 20px;
  font-weight: 400;
  line-height: 56px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.transparentContainer {
  width: 100%;
  background-color: transparent;
}

.transparentTitle {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  color: #ffffff;
  text-align: center;
}

.gradientBar {
  width: 4px;
  height: 200px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
  margin: 130px auto;
}

.transparentContent {
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.contentTitle {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  color: #ffffff;
  margin-bottom: 100px;
}

.itemsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.item {
  flex: 1;
  max-width: 585px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.itemImage {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 20px;
}

.itemText {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  text-align: left;
}

.button {
  width: 93px;
  height: 40px;
  background-color: #cdc6c0;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}

@media (max-width: 768px) {
  .image {
    height: 200px;
  }

  .content {
    padding: 30px 10px 0;
  }

  .title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 50px;
  }

  .transparentTitle {
    font-size: 20px;
    line-height: 30px;
  }

  .gradientBar {
    height: 100px;
    margin: 50px auto;
  }

  .contentTitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .itemsContainer {
    flex-direction: column;
    gap: 20px;
  }

  .item {
    max-width: 100%;
    padding: 20px;
  }

  .itemImage {
    height: 200px;
  }

  .itemText {
    font-size: 16px;
    line-height: 24px;
  }

  .button {
    margin-top: 50px;
  }
} 