.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  background-color: #868275;
  padding: 200px 0 0;
}

.container {
  width: 100%;
  text-align: center;
}
/* 渐变条样式 */
.gradientBar {
  width: 3px;
  height: 150px;
  margin: 130px auto 0;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
}

/* 横向列表样式 */
.horizontalList {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}
/* 滚动条样式 */
/*.horizontalList::-webkit-scrollbar {
  display: auto;
  width: 8px;
  height: 8px;
}
/* 滚动条滑块样式 */
/*.horizontalList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/* 滚动条轨道样式 */
/*.horizontalList::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}*/

.listItem {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 20px;
} 

.listItemImage {
  transition: transform 0.3s ease;
  object-fit: cover;
  border-radius: 10px;
}

.listItemImage:hover {
  transform: scale(1.1);
}

.image1{
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-image: url('/images/ParentsSection/image1.jpg'),url('/images/ParentsSection/image1-zip.jpg');
  background-size: cover;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: #868275;
    padding: 150px 0 0;
  }
  .container {
    width: 100%;
    padding: 0 20px;
  }
  /* 移动端渐变条样式 */
  .gradientBar {
    width: 2px;
    height: 100px;
    margin: 80px auto;
  }
  /* 移动端列表项样式 */
  .listItem {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
    margin-right: 20px;
  } 
  /* 移动端列表项图片样式 */
  .listItemImage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
  }
  /* 移动端滚动条样式 */
  .horizontalList::-webkit-scrollbar {
    display: auto;
    width: 5px;
    height: 5px;
  }

  .image1{
    width: 100%;
    height: 200px;
    background-image: url('/images/ParentsSection/image1.jpg'),url('/images/ParentsSection/image1-zip.jpg');
    background-size: cover;
  }
} 
