.becomingParents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 315px 0 300px;
  min-height: 100vh;
  background-image: url('/images/home/becoming-parents-bg.png'),url('/images/home/test.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .becomingParents {
    width: 100%;
    height: auto;
  }
}