.becomingParents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 315px 0 300px;
  min-height: 100vh;
  background-image: url('/images/home/becoming-parents-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  text-align: center;
}

.content h2 {
  font-size: 60px;
  color: #FFF;
}

.content p {
  font-size: 20px;
  color: #FFF;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.learnMore,
.apply,
.applyChannel {
  width: 93px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnMore {
  background-color: #FFF;
  color: #000;
  border: none;
}

.apply {
  background-color: #FFF;
  color: #000;
  border: none;
}

.applyChannel {
  background-color: #fff;
  color: #000;
  border: none;
}