.part4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    width: 100%;
    padding: 130px 150px 0px;
    background-color: #868275;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .transparentContainer {
    width: 100%;
    background-color: transparent;
  }
  
  .gradientBar {
    width: 3px;
    height: 150px;
    background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
    margin: 100px auto;
  }
  
  .transparentContent {
    width: 100%;
    background-color: transparent;
    text-align: center;
  }
  
  .itemsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  
  .item {
    flex: 1;
    max-width: 585px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .image1{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url('/images/LGBTQIA/1.jpg'),url('/images/LGBTQIA/1-zip.jpg');
    background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }
  .image2{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url('/images/LGBTQIA/2.jpg'),url('/images/LGBTQIA/2-zip.jpg');
    background-size: cover;
    background-position: 0 50%;
    background-repeat: no-repeat;
  }

  .image3{
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-image: url('/images/LGBTQIA/3.jpg'),url('/images/LGBTQIA/3-zip.jpg');
    background-size: cover;
    background-position: 0 70%;
    background-repeat: no-repeat;
  }

  .horizontalList {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    width: 100%;
  }
  .listItem {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right: 20px;
  } 

  .listItemImage {
    transition: transform 0.3s ease;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .listItemImage:hover {
    transform: scale(1.1);
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
  }
  .clickableDiv {
    width: 100%;
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  @media (max-width: 768px) {
    .textContainer {
      width: 100%;
      padding: 0px 10px;
      text-align: center;
    }
  
    .content {
      padding: 50px 0px 0;
    }
  
    .gradientBar {
      width: 2px;
      height: 100px;
      background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
      margin: 50px auto;
    }
  
    .itemsContainer {
      flex-direction: column;
      gap: 30px;
    }
  
    .item {
      max-width: 100%;
      padding: 30px 20px 0;
    }
    .image1{
      width: 100%;
      height: 200px;
      background-image: url('/images/LGBTQIA/1.jpg'),url('/images/LGBTQIA/1-zip.jpg');
      background-size: cover;
    }
    .image2{
      width: 100%;
      height: 200px;
      background-image: url('/images/LGBTQIA/2.jpg'),url('/images/LGBTQIA/2-zip.jpg');
      background-size: cover;
    }
    .image3{
      width: 100%;
      height: 200px;
      background-image: url('/images/LGBTQIA/3.jpg'),url('/images/LGBTQIA/3-zip.jpg');
      background-size: cover;
    }
    .listItem {
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 150px;
      text-align: center;
      margin-right: 20px;
    } 
    .listItemImage {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 10px;
    }
  
  } 