.content {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #A48472;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 150px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gradientBar {
  width: 3px;
  height: 150px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
  margin: 80px auto;
}

.packageContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.leftPackage {
  width: 50%;
  background-color: #a36e65;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

.rightPackage {
  width: 50%;
  background-color: #868275;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
}

.packageDetails {
  width: 100%;
  overflow: hidden;
  padding: 0 50px;
}

.detailsDivider {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 100px 0 0;
  }

  .container {
    padding: 0 20px;
  }

  .packageContainer {
    flex-direction: column;
  }
  .packageDetails {
    width: 100%;
    overflow: hidden;
    padding: 0 0px;
  }

  .leftPackage,
  .rightPackage {
    width: 100%;
  }

  .gradientBar {
    width: 2px;
    height: 100px;
    background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
    margin: 50px auto;
  }
}

/* 添加其他样式... */ 