.gradientBar {
  width: 3px;
  height: 150px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0.00) 0%, #B8B7B4 52.5%, rgba(226, 226, 226, 0.00) 100%);
  margin: 0 auto 30px;
}

.bottomGradientBar {
  width: 3px;
  height: 150px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0.00) 0%, #B8B7B4 52.5%, rgba(226, 226, 226, 0.00) 100%);
  margin: 30px auto 0;
}

.aboutUs {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  background-color: #868275;
  position: relative;
}
.videoCarousel {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 30px;
  margin-top: 100px;
  width: 100%;
}

.videoCarousel::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.videoCarousel video {
  flex: 0 0 auto;
  width: 555px;
  height: 370px;
  border-radius: 10px;
  object-fit: cover;
  height: auto;
  scroll-snap-align: start;
} 

@media (max-width: 768px) {
  .videoCarousel video {
    width: 100%;
    height: auto;
  }
  .gradientBar {
    width: 2px;
    height: 150px;
    background: linear-gradient(0deg, rgba(226, 226, 226, 0.00) 0%, #B8B7B4 52.5%, rgba(226, 226, 226, 0.00) 100%);
    margin: 0 auto 20px;
  }
  
  .bottomGradientBar {
    width: 2px;
    height: 150px;
    background: linear-gradient(0deg, rgba(226, 226, 226, 0.00) 0%, #B8B7B4 52.5%, rgba(226, 226, 226, 0.00) 100%);
    margin: 2px auto 0;
  }
}