.gradientBar {
  width: 3px;
  height: 150px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0.00) 0%, #B8B7B4 52.5%, rgba(226, 226, 226, 0.00) 100%);
  margin: 0 auto 24px;
}

.bottomGradientBar {
  width: 3px;
  height: 150px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0.00) 0%, #B8B7B4 52.5%, rgba(226, 226, 226, 0.00) 100%);
  margin: 18px auto 0;
}

.aboutUs {
  width: 100%;
  padding: 100px 0;
  text-align: center;
  background-color: #868275;
  position: relative;
}

.aboutUs h2 {
  font-size: 48px;
  margin-bottom: 40px;
  color: #FFF;
}

.aboutUs p {
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: #FFF;
}

.textContainer {
  width: 100%;
  padding: 0 150px;
}

@media (max-width: 768px) {
  .aboutUs h2 {
    font-size: 36px;
  }

  .aboutUs p {
    font-size: 18px;
  }

  .textContainer {
    padding: 0 20px;
  }

  .videoCarousel video {
    width: 100%;
    height: auto;
  }
}

.images {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.videoCarousel {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  gap: 30px;
  margin-top: 100px;
  width: 100%;
}

.videoCarousel::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.videoCarousel video {
  flex: 0 0 auto;
  width: 555px;
  height: 370px;
  border-radius: 10px;
  object-fit: cover;
  height: auto;
  scroll-snap-align: start;
} 