.becomeSurrogatePart4 {
    width: 100%;
    background-color: #868275;
}

.image {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.container {
    width: 100%;
    padding: 200px 150px;
    background-color: transparent;
}

.content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}

.title {
    font-size: 36px;
    line-height: 74.34px;
    margin-bottom: 60px;
}

.itemContainer {
    width: 100%;
    max-width: 1200px;
    margin: 200px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    gap: 60px;
}

.item {
    width: 100%;
    height: auto;
    text-align: center;
}

.itemTitle {
    font-size: 22px;
    line-height: 40px;
    color: #ffffff;
}

.itemDetails {
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    margin: 50px 0;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #D9D9D9;
    margin-bottom: 60px;
}



@media (max-width: 480px) {
    .title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .whereTitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .whereText {
        font-size: 12px;
        line-height: 18px;
    }

    .meetingTitle {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
    }

    .meetingText {
        font-size: 12px;
        line-height: 18px;
        margin: 10px 0;
    }

    .itemTitle {
        font-size: 16px;
        line-height: 22px;
    }

    .itemDetails {
        font-size: 12px;
        line-height: 18px;
        margin: 10px 0;
    }

    .additionalText {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }
}

.button {
    width: 93px;
    height: 40px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdc6c0;
    color: #000;
    border: none;
    margin: 0 auto;
    margin-bottom: 100px;
}

.whereContainer {
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 100px 0px;
    margin: 0 auto;
    text-align: center;
    color: #FFFFFF;
}

.whereTitle {
    font-size: 60px;
    line-height: 74.34px;
    margin-bottom: 100px;
}

.whereText {
    font-size: 20px;
    line-height: 40px;
}

.gradientBar {
    width: 4px;
    height: 200px;
    background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
    margin: 60px auto;
}

.gradientBarContainer {
    height: auto;
    display: flex;
    align-items: center;
}

.meetingContainer {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 100px 0;
}

.meetingTitle {
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 60px;
}

.meetingContent {
    width: 100%;
    text-align: center;
}

.meetingText {
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 60px 0;
}

.meetingImage {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    margin: 60px auto;
}

.additionalText {
    font-size: 20px;
    line-height: 35px;
    color: #FFF;
    margin-bottom: 60px;
    text-align: center;
}

@media (max-width: 768px) {
    .meetingContainer {
        padding: 50px 20px;
    }

    .meetingTitle {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .meetingText {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .meetingImage {
        width: 100%;
    }

    .additionalText {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .gradientBar {
        width: 2px;
        height: 100px;
    }
} 
@media (max-width: 768px) {
    .image {
        height: 400px;
    }

    .container {
        padding: 100px 10px;
    }

    .title {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .itemContainer {
        margin-top: 30px;
        gap: 30px;
    }

    .itemTitle {
        font-size: 18px;
        line-height: 24px;
    }

    .itemDetails {
        font-size: 14px;
        line-height: 20px;
        margin: 20px 0;
    }

    .divider {
        margin-bottom: 40px;
    }

    .whereContainer {
        padding: 50px 10px;
    }

    .whereTitle {
        font-size: 28px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .whereText {
        font-size: 14px;
        line-height: 20px;
    }

    .meetingContainer {
        padding: 50px 10px;
    }

    .meetingTitle {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    .meetingText {
        font-size: 14px;
        line-height: 20px;
        margin: 20px 0;
    }

    .additionalText {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .gradientBar {
        width: 2px;
        height: 100px;
    }
}