.hero {
    width: 100%;
    min-height: 100vh;
    background-color: #A48472;
    padding: 0px 150px 200px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.container {
    width: 100%;
  margin: 0 auto;
}

.gradientBar {
  width: 3px;
  height: 150px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
  margin: 100px auto;
}

.newContainer {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newContainer img {
  width: 342px;
  height: 500px;
  object-fit: cover;
}

.newContainerContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 0px 20px 100px;
  }

  .gradientBar {
    width: 2px;
    height: 100px;
    margin: 50px auto;
  }

  .newContainer img {
    width: 100%;
    height: auto;
    max-width: 400px;
  }

} 
