.becomeSurrogatePart1 {
  width: 100%;
  height: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #A48472;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.content {
  padding-left: 150px;
  padding-right: 150px;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFFFFF;

  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.imageContainer {
  width: 100%;
  height: 800px;
  overflow: hidden;

  @media (max-width: 768px) {
    height: auto;
  }
}

.bottomContent {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0 0 0;
  text-align: center;

  @media (max-width: 768px) {
    padding: 50px 20px 0;
  }
}

/* 渐变条 */
.gradientBar {
  width: 3px;
  height: 150px;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
  margin: 100px auto;

  @media (max-width: 768px) {
    width: 2px;
    height: 100px;
    margin: 30px auto;
  }
}

.transparentContainer {
  width: 100%;
  padding: 0 150px;
  height: auto;
  background-color: transparent;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

/* 展开内容 */
.expandableContainer {
  width: 100%;
  height: auto;
  overflow: hidden;
  transition: height 0.3s ease;
  cursor: pointer;
}

.expandableHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* 分割线 */
.divider {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;

}

.expandedContent {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

/* 展开图片 */
.expandedImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .expandedImage {
    width: 100px;
    height: 100px;
  }
}

.expandableContainer.expanded .expandedContent {
  height: auto;
} 