.rich-text p {
  margin-bottom: 2rem;
}

.rich-text p:last-child {
  margin-bottom: 0;
}

.divider {
  width: 4px;
  height: 150px;
  margin: 80px auto;
  background: linear-gradient(0deg, rgba(226, 226, 226, 0) 0%, #FFFFFF 52.5%, rgba(226, 226, 226, 0) 100%);
}

@media (min-width: 768px) {
  .divider {
    height: 200px;
    margin: 130px auto;
  }
} 