.saplingSurrogacy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 236px 0;
  background-image: url('/images/home/sapling-surrogacy-bg.jpg'),url('/images/home/sapling-surrogacy-bg-zip.jpg');
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  position: relative;
  background-clip: border-box;
}

@media (max-width: 768px) {
  .saplingSurrogacy {
    height: auto;
    background-size: cover;
    background-position: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-clip: border-box;
  }
} 