.part3 {
  width: 100%;
  height: auto;
  background-color: #A48472;
}

.content {
  width: 100%;
  padding: 130px 150px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.stepsContainer {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
}

.clickableDiv {
  width: 100%;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

.clicked {
  background-color: transparent;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
}

@media (max-width: 768px) {
  .part3 {
    width: 100%;
  }
  .stepsContainer {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0;
  }
  .content {
    width: 100%;
    padding: 50px 20px 0;
  }

}