.becomeSurrogatePart2 {
  width: 100%;
  background-color: #868275;
}

.image {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.container {
  width: 100%;
  padding: 200px 150px;
  background-color: transparent;
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
}

.title {
  font-family: FZShuiYunS-EB-GB;
  font-size: 60px;
  font-weight: 400;
  line-height: 74.34px;
  margin-bottom: 60px;
}

.description {
  font-family: FZShuiYunS-DB-GB;
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
}

.itemContainer {
  width: 100%;
  max-width: 1200px;
  margin: 100px auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  gap: 60px;
}

.item {
  width: 100%;
  height: auto;
  text-align: center;
}

.itemTitle {
  font-family: FZShuiYunS-EB-GB;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #ffffff;
}

.itemDetails {
  font-family: FZShuiYunS-DB-GB;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  color: #ffffff;
  margin: 50px 0;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #D9D9D9;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .image {
    height: 400px;
  }

  .container {
    padding: 100px 20px;
  }

  .title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
  }

  .description {
    font-size: 20px;
    line-height: 30px;
  }

  .itemContainer {
    margin-top: 50px;
    gap: 40px;
  }

  .itemTitle {
    font-size: 24px;
    line-height: 30px;
  }

  .itemDetails {
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0;
  }

  .divider {
    margin-bottom: 40px;
  }
}

.button {
  width: 133px;
  height: 36px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  color: #000;
  border: none;
  margin: 0 auto;
} 